In [3]:
!ls

06-Import Practice Files.ipynb ImportingData.key
Data                           ImportingData.pdf
Data.zip                       new_file.txt
ImportingData.ipynb

In [4]:
!pwd

/Users/sneeley/Documents/Work/Classes/Stat426/Fall2020/Lectures/04Importing

In [5]:
import numpy as np
import pandas as pd
import os

In [7]:
os.listdir('Data')

['Arbys06a.txt',
 'dob_subset.csv',
 'billboard.csv',
 'patera.xlsx',
 'NewTBCases.csv',
 '.DS_Store',
 'weather.txt',
 'pride-and-prejudice.txt',
 'cruise_ship.dat',
 'pride-and-prejudice-ch1.txt',
 'pew.sav',
 'patera_pickle.pkl']

In [8]:
print('hello_world')

hello_world

#### Reading Flat files (with csv, table, fwf)

In [9]:
df = pd.read_csv('data/NewTBCases.csv')

In [10]:
df.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,new_sp,new_sn,new_su,new_ep,...,hivtest_pos,hiv_cpt,hiv_art,hiv_tbscr,hiv_reg,hiv_ipt,hiv_reg_new,hiv_ipt_reg_all,hiv_tbdetect,hiv_reg_new2
0,Afghanistan,AF,AFG,4,EMR,1980,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AF,AFG,4,EMR,1981,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AF,AFG,4,EMR,1982,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AF,AFG,4,EMR,1983,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AF,AFG,4,EMR,1984,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
len(data)

####

In [ ]:
df = pd.read_excel('data/patera.xlsx', sheet_name=0)

In [ ]:
df.head()

In [ ]:
xl = pd.ExcelFile('data/patera.xlsx')

In [ ]:
type(xl)

In [ ]:
type(df)

In [ ]:
xl.sheet_names

In [ ]:
df = xl.parse('patera')

In [ ]:
df.head()

In [ ]:
type(df)

In [ ]:
df = pd.read_excel('data/patera.xlsx', sheet_name=None)

In [ ]:
type(df)

In [ ]:
df.keys()

In [ ]:
df['patera'].head()

In [ ]:
type(df['patera'])

In [ ]:
df.head()

In [ ]:
df = df['patera']

In [ ]:
df.head()

In [ ]:
pd.to_pickle(df, 'Data/patera_pickle.pkl')

#### pd.read_html()

In [ ]:
url = 'https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory'

In [ ]:
dfs = pd.read_html(url)

In [ ]:
len(dfs)

In [ ]:
type(dfs[0])

In [ ]:
type(dfs)

#### Read text files

In [ ]:
file = open('data/pride-and-prejudice-ch1.txt', mode = 'r')

In [ ]:
text = file.read()

In [ ]:
file.close()

In [ ]:
from collections import Counter

In [ ]:
count = Counter(text.lower().split())

In [ ]:
most_occur = count.most_common(10)

In [ ]:
print(most_occur)

In [ ]:
arbys = pd.read_csv('Data/Arbys06a.txt', sep = '\t',encoding = 'maclatin2')

In [ ]:
cruise = pd.read_fwf('Data/cruise_ship.dat',header=None)

In [ ]:
billboard = pd.read_csv('Data/billboard.csv', encoding='maclatin2')